/* BASIC STYLES HERE */
body {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pictureDescription {
  visibility: hidden;
  opacity: 0;
}

.pictureTitle:hover + .pictureDescription {
  visibility: visible;
  opacity: 1;
  border: 1px solid rgba(255, 255, 255, 0.727);
  border-radius: 5px;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(10px);
}

.detailText {
  text-shadow: 0px 0px 5px black;
}

.imgHeight {
  height: 17.5dvh;
  width: 100%;
}

.mainHeight {
  height: 75dvh;
}


